h1 {
  margin: 0;
}

.navbar {
  background: #a31c1c;
  min-width: 100vw;
  max-width: 100vw;
  text-align: center;
  display: flex;
}

.title {
  font-size: 3vw;
  padding-right: 50vw;
  padding-left: 1vw;
  color: white;
}
