.place-details {
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  text-align: center;
}

.header > *{
  display: inline;
  margin: 10px;
}

.d-info {
  width: 710px;
  height: 70vh;
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px 0 0;
}

.hours {
  padding: 20px 0 0 0;
}

.d-image {
  width: 50%;
  height: 70vh;
  display: flex;
  justify-content: flex-start;
}

.d-image > img{
  height: auto;
  width: 500px;
}
