

.header {
  display: flex;
  align-items: flex-end;
  font-size: 15px;
}

.info h3{
  border-bottom: 1px solid;
  text-align: center;
}

.info div{
  text-align: center;
  display: flex;
  justify-content: center;
}

.info div > * {
  margin: 0px 30px 0px 30px
}

.info2 h3{
  border-bottom: 1px solid;
  text-align: center;
}

.info2 div{
  text-align: center;
  display: flex;
  justify-content: center;
}

.info2 div > * {
  margin: 0px 30px 0px 30px
}

.info3 h3{
  border-bottom: 1px solid;
  text-align: center;
}

.info3 div{
  text-align: center;
  display: flex;
  justify-content: center;
}

.info3 div > * {
  margin: 0px 30px 0px 30px
}

.info4 h3{
  border-bottom: 1px solid;
  text-align: center;
}

.info4 div{
  text-align: center;
  display: flex;
  justify-content: center;
}

.info4 div > * {
  margin: 0px 30px 0px 30px;
  height: 500px;
  width: auto;
}
