.place-card {
  box-sizing: border-box;
  border: 1px solid;
  margin: 5px;
  padding: 5px;
  width: 90vw;
  align-items: center;
  display: flex;
  text-decoration: none;
  text-align: left;
  background: white;
}

h1 {
  margin: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.info { 
  text-align: left;
  margin-left: 1%;
}

.icon {
}

.name {
  text-align: left;
  width: 100%;
  text-decoration: none;
}
