.place-details {
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  text-align: center;
}

.header > *{
  display: inline;
  margin: 30px 5px 20px 5px;
}

.d-info {
  width: 710px;
  height: 55vh;
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px 0 0;
}

.d-info > table > tr > th {
  text-align: right
}

th.hours {
  padding: 20px 0 0 0;
}

.d-image {
  width: 50%;
  height: 55vh;
  display: flex;
  justify-content: flex-start;
}

.d-image > img{
  height: 500px;
  width: 500px;
}
